@import 'variables.scss';

h2, h1{
  padding-top: 1.5em;
  margin-top: -1.5em;
  padding-bottom: 1.5em;
  margin-bottom: -1em;
  background-image: -webkit-linear-gradient(to left, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
  background-image: linear-gradient(to left, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: 100%;
  background-repeat: repeat;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;

}

.App {
  text-align: center;
  scroll-behavior: smooth;
  cursor: default;
}

.begin_site{
  height:100vh;
}

.navbar{
  margin:0;
  color: black;
  border-bottom: 0.1px solid black;
  list-style: none;
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 1%;
  /* background-color: aqua; */
}

@media (min-width: $min_width){
  .navbar{
    display: flex;
  }
}

@media (max-width: $max_width){
  .navbar{
    display: none;
  }
  header h1{
    line-height:1.1;
  }
}

.navbar li{
  padding: 0.5%;
}

.navbar #begin1{
  margin-left: 15%;
  margin-right: 13%;
  font-weight: bold;
  font-size: large;
}

.navbar #contact1{
  margin-right: 15%;
  margin-left: 15%;
}

.navbar li:hover{
  background-color: rgba(236, 229, 229, 0.5);
  border-radius: 4px;
  animation: 1s shake alternate;
}

@keyframes shake {
  0% { transform: skewX(-5deg); }
  5% { transform: skewX(5deg); }
  10% { transform: skewX(-5deg); }
  15% { transform: skewX(5deg); }
  20% { transform: skewX(0deg); }
  100% { transform: skewX(0deg); }  
}

header{
  margin-top: 6%;
  line-height: 0.7;
}

header h2{
  margin-top: 5vh;
}

header img{
  padding: 1%;
  box-shadow: inset 0 0 50px 12px white, inset 0 0 50px 2px white;
  background: linear-gradient(to right, green, blue);  
  width:35vh;
  border-radius: 50%;
}





