.second_site{
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    height:80vh;
    background-color: rgb(194, 187, 187,0.3);
}

.second_site h2{
    line-height: 0.1;
}

.boxes_grid{
    background-color: white;
    border-radius: 50px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    align-content: space-around;
    justify-content: space-between;
}

.about_me h3{
    font-size: 3vh;
}

.about_me{
    text-align: left;
    grid-column: 1/3;
    grid-row: 1/3;
}

.about_me #box1{
    grid-column: 3;
    grid-row: 1;
}